@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif !important;
    width: 1200px;
    height: 600px;
    font-family: sans-serif;
    padding: 10px;
  }
  #editor {
    height: 300px;
    border: 1px solid #ccc;
    background-color: #414141;
    color: #ffffff;
  }
  button {
    margin: 5px 0;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

.CodeMirror {
    height: auto;
    border: 1px solid #ccc;
  }