@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif !important;
}
  
* {
  outline: none !important;
  border: none !important;
}
#map_adress_search {
background-color: black !important;
color: white !important;
  padding: 15px !important;
  border-radius: 5px !important;
}

.alert-danger {
  background-color: rgba(255,105,97, 0.7) !important;
  font-weight: bold !important;
  padding: 5px !important;
}
.mission_vehicle_state { zoom: 1.2; }
#alliance_chat_message { background-color: black; color: white; }
.mission-alarm-button { padding: 2px 5px; font-weight: bold; }
#search_input_field_missions { background-color: black; color: white; }
#missions-sortable-select { background: black; color: white; }
#missions_outer { border-bottom-right-radius: 10px; }
.label-success { zoom: 1.1; }
.progress { background-color: rgb(31,31,31); color: white; }
.search-station-input { background-color: black; color: white; }

::-webkit-scrollbar {
            width: 5px;
        }
        
::-webkit-scrollbar-track {
            border-radius: 8px;
            background-color: #e7e7e7;
            border: 1px solid #cacaca;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        }
        
::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background-color: rgb(31,31,31);
        }
.dropdown-toggle { font-weight: bold; }
.navbar-icon { font-weight: bold; zoom: 1.1; }
.mission_vehicle_state { zoom: 1.2; }
.vehicle_building_list_button { zoom: 1.1; }
#map { 
  filter: brightness(80%);
}

#main_navbar { box-shadow:
    0 0 0 2px hsl(0, 0%, 80%),
    0 0 0 4px hsl(0, 0%, 90%);
  filter: brightness(80%);

}

a.btn, a.btn-xs, a.btn-default {
  padding: 2px 10px !important;
  background-color: rgb(31,31,31) !important;
  color: white !important;
  border: 1px solid gray !important;
}

.btn:before, .btn-default:before, .btn-xs:before { /* nothing */ }
.btn:after, .btn-default:after, .btn-xs:after { /* nothing */ }

small {
  font-size: 15px;
}

body.dark #missions .panel-success .panel-heading {
    background-image: linear-gradient(to bottom, rgba(128, 239, 128,0.4) 0, rgb(31,31,31) 100%);
    background-color: #456d45;
}

.vehicle_search {
  background-color: rgba(31,31,31,1) !important;
  color: white !important;
  filter: brightness(300%) !important;
}

.label {
  border: 1px solid rgb(50,50,50) !important;
}

.map_position_mover {
  font-weight: bold !important;
}

.building_list_fms {
  font-weight: bold !important;
  color: rgb(31,31,31);
}

.panel {
  outline: 1px solid rgb(31,31,31) !important;
}